{% extends 'article_web_app/base.html' %}
{% load static %}

{% block title_block %}
    Article Reviewer
{% endblock %}

{% block body_block %}
    <h2>{{ article.title }}</h2>

    {% if article.picture %}
        <li><img src="{{ MEDIA_URL }}{{ article.picture }}" alt="{{ article.author }}"  width="400" height="400"/></li>
    {% else %}
        <li><img src="{{ MEDIA_URL }}{{ article.category.picture }}" width="400" height="400"/></li>
    {% endif %}
    <li>Url: <a href="{{ article.url }}">{{ article.url }}</a></li>
    <li>Category: {{ article.category }}</li>
    <li>Rating: {{ article.averageRating }} / 5</li>
    
    <br><button onclick="myFunction()" class="btn btn-primary">Click here to make a Review</button></br>	
    <hr>
    <h3>Comments:</h3>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
                <br><Strong>{{review.author}} : {{review.rating}}/5</Strong></br>
                <li>{{review.comment}}</li>
            {% endfor %}
        </ul>
    {% endif %}

<script>
function myFunction() {
    window.location="{% url 'article_reviewer:review' %}"
}
</script>
<script>
function myFunction2() {
  var rate = prompt("Please enter a rating： ");
}
</script>



{% endblock %}
