{% extends 'article_web_app/base.html' %}
{% load static %}

{% block title_block %}
    Article Reviewer
{% endblock %}

{% block body_block %}
    <h2>{{ article.title }}</h2>

    {% if article.picture %}
        <li><a href="{{ article.url }}"><img src="{{ MEDIA_URL }}{{ article.picture }}" alt="{{ article.author }}"  width="400" height="400"/></li></a>
    {% else %}
        <li><a href="{{ article.url }}"><img src="{{ MEDIA_URL }}{{ article.category.picture }}" width="400" height="400"/></li></a>
    {% endif %}
    <li>Url: <a href="{{ article.url }}">{{ article.url }}</a></li>
    <li>Category: {{ article.category }}</li>
    <li>Rating: {{ article.averageRating | floatformat:1 }} / 5</li>
    
    {% if user.is_authenticated %}
    <br><button onclick="reviewFunction()" class="btn btn-primary"><p style= "font-size:x-large;font-weight: bold;">Click here to make a Review</p></button></br>
    {% endif %}	
    <hr>
    <h3>Comments:</h3>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
                <p style= "font-size:large"><br>{{review.date}}<Strong> : {{review.author}} : {{review.rating}}/5</Strong></br></p>
                <li><p style= font-style:italic >{{review.comment}}</p></li>
            {% endfor %}
        </ul>
    {% endif %}

<script>
function reviewFunction() {
    window.location="{% url 'article_reviewer:review' article.slug%}"
}
</script>

{% endblock %}
