{% extends 'article_web_app/base.html' %}
{% load static %}

{% block title_block %}
    Article Reviewer
{% endblock %}

{% block body_block %}
    <h2>{{ article.title }}</h2>

    {% if article.picture %}
        <li><img src="{{ MEDIA_URL }}{{ article.picture }}" alt="{{ article.author }}"  width="400" height="400"/></li>
    {% else %}
        <li><img src="{{ MEDIA_URL }}{{ article.category.picture }}" width="400" height="400"/></li>
    {% endif %}
    <li>Url: <a href="{{ article.url }}">{{ article.url }}</a></li>
    <li>Category: {{ article.category }}</li>
    <li>Rating: {{ article.averageRating }} / 5</li>
    <li><button onclick="myFunction()" class="btn btn-primary">Click here to make a comment</button></li>
	<li><button onclick="myFunction2()" class="btn btn-rate">Click here to rate</button></li>
	
	
	<img onclick="changeImage1()" style="display: inline; margin: 0 5px;" src="{% static "images/emptystar.png" %}" id="star1" width="50" height="50">
	<img onclick="changeImage2()" style="display: inline; margin: 0 5px;" src="{% static "images/emptystar.png" %}" id="star2" width="50" height="50">
	<img onclick="changeImage3()" style="display: inline; margin: 0 5px;" src="{% static "images/emptystar.png" %}" id="star3" width="50" height="50">
	<img onclick="changeImage4()" style="display: inline; margin: 0 5px;" src="{% static "images/emptystar.png" %}" id="star4" width="50" height="50">
	<img onclick="changeImage5()" style="display: inline; margin: 0 5px;" src="{% static "images/emptystar.png" %}" id="star5" width="50" height="50">

	
	
    <hr>
    <h3>Comments:</h3>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li><Strong>review.author</Strong>:</li>
                <li>review.comment</li>
            {% endfor %}
        </ul>
    {% endif %}

<script>
function myFunction() {
  var comment = prompt("Please comment：", "Comments...");
}
</script>
<script>
function myFunction2() {
  var rate = prompt("Please enter a rating： ");
}
</script>
<script>
function changeImage5(){
     image = document.getElementById("star5");
	 image1 = document.getElementById("star4");
	 image2 = document.getElementById("star3");
	 image3 = document.getElementById("star2");
	 image4 = document.getElementById("star1");
     image1.src = "{% static "images/goldstar.png" %}";
	 image2.src = "{% static "images/goldstar.png" %}";
	 image3.src = "{% static "images/goldstar.png" %}";
	 image4.src = "{% static "images/goldstar.png" %}";
	 image.src = "{% static "images/goldstar.png" %}";
  }
</script>
<script>
function changeImage4(){
     image5 = document.getElementById("star5");
	 image1 = document.getElementById("star1");
	 image2 = document.getElementById("star2");
	 image3 = document.getElementById("star3");
	 image4 = document.getElementById("star4");
     image1.src = "{% static "images/goldstar.png" %}";
	 image2.src = "{% static "images/goldstar.png" %}";
	 image3.src = "{% static "images/goldstar.png" %}";
	 image4.src = "{% static "images/goldstar.png" %}";
	 image5.src = "{% static "images/emptystar.png" %}";
  }
</script>
<script>
function changeImage3(){
     image5 = document.getElementById("star5");
	 image1 = document.getElementById("star1");
	 image2 = document.getElementById("star2");
	 image3 = document.getElementById("star3");
	 image4 = document.getElementById("star4");
     image1.src = "{% static "images/goldstar.png" %}";
	 image2.src = "{% static "images/goldstar.png" %}";
	 image3.src = "{% static "images/goldstar.png" %}";
	 image4.src = "{% static "images/emptystar.png" %}";
	 image5.src = "{% static "images/emptystar.png" %}";
  }
</script>
<script>
function changeImage2(){
     image5 = document.getElementById("star5");
	 image1 = document.getElementById("star1");
	 image2 = document.getElementById("star2");
	 image3 = document.getElementById("star3");
	 image4 = document.getElementById("star4");
     image1.src = "{% static "images/goldstar.png" %}";
	 image2.src = "{% static "images/goldstar.png" %}";
	 image3.src = "{% static "images/emptystar.png" %}";
	 image4.src = "{% static "images/emptystar.png" %}";
	 image5.src = "{% static "images/emptystar.png" %}";
  }
</script>
<script>
function changeImage1(){
	 image5 = document.getElementById("star5");
	 image1 = document.getElementById("star1");
	 image2 = document.getElementById("star2");
	 image3 = document.getElementById("star3");
	 image4 = document.getElementById("star4");
     image1.src = "{% static "images/goldstar.png" %}";
	 image2.src = "{% static "images/emptystar.png" %}";
	 image3.src = "{% static "images/emptystar.png" %}";
	 image4.src = "{% static "images/emptystar.png" %}";
	 image5.src = "{% static "images/emptystar.png" %}";
  }
</script>


{% endblock %}
