<!DOCTYPE html>
{% load static %}

<html>
    <head lang="en">
        <meta charset="utf-8" />
        <title>
            {% block title_block %}
                Article Reviewer
            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/index.css' %}">
    </head>

    <body>
        
    <div class ="container">
        <div class="left">
            <ul>
                <li class="logo"> <a href="{% url 'article_reviewer:index' %}"><img src="{% static 'images/article-logo.png' %}"></a></li>
                <li class="heading"><h1><a href="{% url 'article_reviewer:index' %}">Article Reviewer</a></h1></li>
            </ul>
        </div>
        
        <div class="right">
            <ul>
                <li><button onclick="myFunction5()" class="btn btn-primary"> Categories </button></li> | 
                <li><button onclick="myFunction6()" class="btn btn-primary"> Contact Us </button></li> |

                {% if user.is_authenticated %}
                    <li><button onclick="myFunction()" class="btn btn-primary"> {{ user.username }} </button></li> |
                    <li><button onclick="myFunction2()" class="btn btn-primary"> Logout </button></li>
                {% else %}
                    <li><button onclick="myFunction3()" class="btn btn-primary"> Login </button></li> |
                    <li><button onclick="myFunction4()" class="btn btn-primary"> Sign Up </button></li> 
                {% endif %}
            </ul>
        </div>  
    </div>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>


    <script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/article-jquery.js" %}" crossorigin="anonymous"></script>
            
     </body>

     <script>
        function myFunction() {
            window.location="{% url 'article_reviewer:my_account' %}"
        }
    </script>
    <script>
        function myFunction2() {
            window.location="{% url 'article_reviewer:logout' %}"
        }
    </script>
    <script>
        function myFunction3() {
            window.location="{% url 'article_reviewer:login' %}"
        }
    </script>
    <script>
        function myFunction4() {
            window.location="{% url 'article_reviewer:sign_up' %}"
        }
    </script>
    <script>
        function myFunction5() {
            window.location="{% url 'article_reviewer:category' %}"
        }
    </script>
    <script>
        function myFunction6() {
            window.location="{% url 'article_reviewer:contact_us' %}"
        }
    </script>
</html>