<!DOCTYPE html>
{% load static %}

<html>
    <head lang="en">
        <meta charset="utf-8" />
        <title>
            {% block title_block %}
                Article Reviewer
            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/index.css' %}">
    </head>

    <body>
        
    <div class ="container">
        <div class="left">
            <ul>
                <li class="logo"> <a href="{% url 'article_reviewer:index' %}"><img src="{% static 'images/article-logo.png' %}"></a></li>
                <li class="heading"><h1><a href="{% url 'article_reviewer:index' %}">Article Reviewer</a></h1></li>
            </ul>
        </div>
        
        <div class="right">
            <ul>
                <li><button onclick="categoryFunction()" class="btn btn-primary"> <p style= "font-family: Arial, Helvetica, sans-serif;font-size:x-large;font-style:normal;font-weight: bold;">Categories</p></button></li><p style= "font-size:x-large"> | </p>
                <li><button onclick="contactUsFunction()" class="btn btn-primary"> <p style= "font-family: Arial, Helvetica, sans-serif;font-size:x-large;font-style:normal;font-weight: bold;">Contact Us</p></button></li><p style= "font-size:x-large"> | </p>

                {% if user.is_authenticated %}
                    <li><button onclick="accountPageFunction()" class="btn btn-primary"> <p style= "font-family: Arial, Helvetica, sans-serif;font-size:x-large;font-style:normal;font-weight: bold;">User Profile</p></button></li><p style= "font-size:x-large"> | </p>
                    <li><button onclick="logoutFunction()" class="btn btn-primary"> <p style= "font-family: Arial, Helvetica, sans-serif;font-size:x-large;font-style:normal;font-weight: bold;">Logout</p></button></li>
                {% else %}
                    <li><button onclick="loginFunction()" class="btn btn-primary"> <p style= "font-family: Arial, Helvetica, sans-serif;font-size:x-large;font-style:normal;font-weight: bold;">Login</p></button></li><p style= "font-size:x-large"> | </p>
                    <li><button onclick="signUpFunction()" class="btn btn-primary"> <p style= "font-family: Arial, Helvetica, sans-serif;font-size:x-large;font-style:normal;font-weight: bold;">Sign Up</p></button></li> 
                {% endif %}
            </ul>
        </div>  
    </div>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>


    <script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/article-jquery.js" %}" crossorigin="anonymous"></script>
            
     </body>

     <script>
        function accountPageFunction() {
            window.location="{% url 'article_reviewer:my_account' %}"
        }
    </script>
    <script>
        function logoutFunction() {
            window.location="{% url 'article_reviewer:logout' %}"
        }
    </script>
    <script>
        function loginFunction() {
            window.location="{% url 'article_reviewer:login' %}"
        }
    </script>
    <script>
        function signUpFunction() {
            window.location="{% url 'article_reviewer:sign_up' %}"
        }
    </script>
    <script>
        function categoryFunction() {
            window.location="{% url 'article_reviewer:category' %}"
        }
    </script>
    <script>
        function contactUsFunction() {
            window.location="{% url 'article_reviewer:contact_us' %}"
        }
    </script>
</html>