{% extends 'article_web_app/base.html' %}
{% load static %}

{% block title_block %}
    Article Reviewer
{% endblock %}
{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/category.css' %}">
 <h2 class = "title">Categories</h2>
    <hr/>
    <div>
        {% if categories %}
            <nav>
            {% for category in categories %}
                <div class="category"><a>{{ category.name }}</a></div>
                <div class="popular">
                    {% if articles %}
                        <ul>
                            {% for article in articles %}
                            
                            {%  if article.category.name == category.name %}
                            <div class="IconRatings">
                                       {% if article.picture %}
                             <li><br><img src="{{ MEDIA_URL }}{{ article.picture }}" alt="{{ article.author }}"  width="100" height="100"/></br></li>
                                      {% else %}
                             <li><img src="{{ MEDIA_URL }}{{ article.category.picture }}" width="100" height="100"/></li>
                                      {% endif %}
                            <div class="articleName"><br><a href="{% url 'article_reviewer:show_article' article.slug%}">{{ article.title }}</a></br></div>
                    <br></br>
                    </div>
                            {% endif %}
                        
                            {% endfor %}
                        </ul>
                    {% else %}
                        <strong>There are no articles present.</strong>
                    {% endif %}
                </div>
            {% endfor %}
            </nav>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>

{% endblock %}

