{% extends 'article_web_app/base.html' %}
{% load static %}

{% block title_block %}
    Article Reviewer
{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/index.css' %}">
{% block body_block %}

    <li></li>
    <div>
        {% if categories %}
            <nav>
            {% for category in categories %}

            &ensp;<a style= "font-size:x-large;font-weight: bold;" href="{% url 'article_reviewer:category' %}">{{ category.name }}</a>&ensp;

            {% endfor %}
            </nav>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div>

    <hr/>
    <li></li>
    <h2>The Most Popular Articles</h2>
    <hr/>

         
            {% if articles %}
            <ul>
                {% for article in articles %}
                    {% if article.picture %}
                        &ensp;<a href="{% url 'article_reviewer:show_article' article.slug%}"><img src="{{ MEDIA_URL }}{{ article.picture }}" alt="{{ article.author }}"  width=30% height=%30/></a><a>{{ article.averageRating | floatformat:1 }}/5</a>&ensp;
                    {% else %}
                        &ensp;<a href="{% url 'article_reviewer:show_article' article.slug%}"><img src="{{ MEDIA_URL }}{{ article.category.picture }}" alt="{{ article.author }}"  width=30% height=%30/></a><a>{{ article.averageRating | floatformat:1 }}/5</a>&ensp;
                    {% endif %}
                {% endfor %}
            </ul>
            {% else %}
            <strong>There are no articles present.</strong>
            {% endif %}
        
{% endblock %}