{% extends 'article_web_app/base.html' %}
{% load static %}

{% block title_block %}
    Article Reviewer
{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/index.css' %}">
{% block body_block %}

    <li></li>
    <div>
        {% if categories %}
            <nav>
            {% for category in categories %}

            &ensp;<a style= "font-size:x-large;font-weight: bold;" href="{% url 'article_reviewer:show_category' category.slug %}">{{ category.name }}</a>&ensp;

            {% endfor %}
            </nav>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div>

    <hr/>
    <li></li>
    <h2>The Most Popular Articles</h2>
    <hr/>

         <div class="popular">
            {% if articles %}
            <ul>
                {% for article in articles %}
                    <br><a href="{% url 'article_reviewer:show_article' article.slug%}">{{ article.title }}</a></br>
                    {% if article.picture %}
                        <li><a href="{% url 'article_reviewer:show_article' article.slug%}"><img src="{{ MEDIA_URL }}{{ article.picture }}" alt="{{ article.author }}"  width="100" height="100"/></a></li>
                    {% else %}
                        <li><a href="{% url 'article_reviewer:show_article' article.slug%}"><img src="{{ MEDIA_URL }}{{ article.category.picture }}" width="100" height="100"/></a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% else %}
            <strong>There are no articles present.</strong>
            {% endif %}
        </div>
{% endblock %}


{#<body>#}
{#    <h1>Sign Up</h1>#}
{##}
{#    <form>#}
{#        <label for="email">Email </label>#}
{#        <input type="text" id="email" name="email"><br><br>#}
{##}
{#        <label for="password">Password</label>#}
{#        <input type="password" id="password" name="Password"><br><br>#}
{##}
{#        <label for="conf_password">Confirm Password:</label>#}
{#        <input type="password" id="conf_password" name="Password"><br><br>#}
{##}
{#        <input type="Submit" value="Sign Up">#}
{#    </form>#}
{##}
{#</body>#}