{% extends 'article_web_app/base.html' %}
{% load static %}

{% block title_block %}
    Sign In
{% endblock %}

{% block body_block %}
    <h1>Sign in for Article Reviewer</h1>
    <form id="login_form" method="post" action="{% url 'article_reviewer:login' %}">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />
    <input type="submit" value="Sign In" />
</form>
{% endblock %}