{% extends 'article_web_app/base.html' %}
{% load static %}

{% block title_block %}
    Article Reviewer
{% endblock %}

{% block body_block %}
    <h1>My Account Profile</h1>
    <div>
        <h3>Username: {{ user.username }}</h3>
        {% if user_profile.picture %}
            <img src="{{ MEDIA_URL }}{{ user_profile.picture }}" width="200" height="200"/></br>
        {% else %}
            <img src="{% static 'images/pfp-placeholder.png' %}"></br>
        {% endif %}
        <li><button onclick="addArticleFunction()" class="btn btn-primary"><p style= "font-size:x-large;font-weight: bold;"> Add Article </p></button></li>
    </div>
    <script>
        function addArticleFunction() {
            window.location="{% url 'article_reviewer:add_article' %}"
        }
    </script>
{% endblock %}